<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="rest-api" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/rest-api.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<!-- [公共Appender] -->
	<appender name="DEFAULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/common-default.log" />
		<param name="Append" value="true" />
		<param name="encoding" value="GBK" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="ERROR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/common-error.log" />
		<param name="Append" value="true" />
		<param name="encoding" value="GBK" />
		<param name="threshold" value="error" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<logger name="org.apache">
		<level value="DEBUG" />
	</logger>

	<logger name="org.apache.commons">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework">
		<level value="DEBUG" />
	</logger>

	<logger name="org.springframework.security">
		<level value="DEBUG" />
	</logger>

	<logger name="org.springframework.web">
		<level value="DEBUG" />
	</logger>

	<logger name="org.springframework.beans.factory.xml">
		<level value="DEBUG" />
	</logger>

	<logger name="com.miaoparty.rest.api">
		<level value="${loggingLevel}" />
		<appender-ref ref="rest-api" />
	</logger>

	<root>
		<level value="${rootLevel}"></level>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="ERROR-APPENDER" />
	</root>
</log4j:configuration>
